#england {
    height: auto;
    width: 100%;

    .england-top {
        background-image: url('./img/england/londonbridge.png');
        background-position: center;
    }

    .england-gallery-container .england-gallery {
        max-height: 700px;

        &::before {
            top: 0;
        }

        &::after {
            left: 10%;
        }

        .england-gallery-title {
            top: 15%;
            left: 13%;
        }

        .gallery-item {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &:hover {
                .overlay-title {
                    transform: translateY(-60%);
                    opacity: 0;
                }

                .overlay {
                    opacity: 0.6;
                    transition-delay: 0.4s;
                }
            }

            .overlay-title {
                position: absolute;
                left: 0;
                bottom: 0;
                height: auto;
                width: 100%;
                background-color: #F9F6F0;
                padding: 20px 0;
                opacity: 1;
                transition: 0.4s ease;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border: 2px solid #6F5B3E;

                h2 {
                    font-size: 2.2rem;
                    font-weight: 900;
                    letter-spacing: 4px;
                    color: #6F5B3E;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            .overlay {
                opacity: 0;
                transition: 0.4s ease;

                h1 {
                    font-size: 3.5rem;
                    font-weight: 900;
                    letter-spacing: 6px;
                    color: white;
                    text-transform: uppercase;
                    transition: 0.4s ease;
                    transition-delay: 0.4s;
                }
            }
        }

        .bigben {
            height: 350px;
            width: 500px;
            top: 40%;
            left: 15%;
        }

        .palace {
            height: 280px;
            width: 450px;
            top: 60%;
            right: 7%;
        }

        .stonehenge {
            height: 280px;
            width: 420px;
            top: 12%;
            right: 5%;
        }
    }
}