#england {
    height: auto;
    width: 100%;

    .england-top {
        background-image: url('./img/england/londonbridge.png');
        background-position: center;
    }

    .england-gallery-container .england-gallery {
        max-height: 700px;

        &::before {
            top: 0;
        }

        &::after {
            left: 10%;
        }

        .england-gallery-title {
            top: 15%;
            left: 13%;
        }

        .gallery-item {
            overflow: hidden;

            &:hover {
                .overlay {
                    opacity: 1;

                    .overlay-title {
                        transform: translateY(0%);
                        transition-delay: 0.4s;
                    }
                }
            }

            .overlay {
                background-color: rgba(0, 0, 0, 0.6);
                opacity: 0;
                transition: 0.4s ease;

                .overlay-title {
                    position: absolute;
                    bottom: 0;
                    height: auto;
                    width: 100%;
                    padding: 15px 0;
                    background-color: #F9F6F0;
                    border: 2px solid #6F5B3E;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    transform: translateY(200%);
                    transition: 0.4s ease;
                    
                    h2 {
                        font-size: 2.2rem;
                        font-weight: 900;
                        letter-spacing: 4px;
                        color: #6F5B3E;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .bigben {
            height: 350px;
            width: 500px;
            top: 40%;
            left: 15%;
        }

        .palace {
            height: 280px;
            width: 450px;
            top: 60%;
            right: 7%;
        }

        .stonehenge {
            height: 280px;
            width: 420px;
            top: 12%;
            right: 5%;
        }
    }
}