#england {
    height: auto;
    width: 100%;

    .england-top {
        background-image: url('./img/england/londonbridge.png');
        background-position: center;
    }

    .england-gallery-container .england-gallery {
        align-items: flex-start;

        &::before {
            left: 0;
        }

        &::after {
            left: 5%;
        }

        .england-gallery-title {
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                font-size: 7rem;
                letter-spacing: 15px;
            }
        }
    }
}