footer {
    height: auto;
    width: 100%;
    background-color: var(--black);

    .footer-container {
        height: auto;
        width: 90%;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copyright {
            h3 {
                font-family: 'Kalam', cursive;
                font-size: 1.4rem;
                font-weight: 100;
                color: var(--white);
            }
        }

        .countries {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                flex-direction: row;

                li {
                    margin-right: 40px;

                    a {
                        font-size: 1.2rem;
                        font-weight: 100;
                        color: var(--white);
                        letter-spacing: 5px;
                        text-decoration: none;
                        text-transform: uppercase;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -6px;
                            height: 2px;
                            width: 100%;
                            transform: scaleX(0);
                            background-color: white;
                            transform-origin: bottom right;
                            transition: transform 0.2s ease-out;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }

                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
