#france {
    height: auto;
    width: 100%;

    .france-top {
        background-image: url('./img/france/eiffel.jpg');
        background-position: 0 60%;
    }

    .france-gallery-container {
        .france-gallery {
            padding-bottom: 50px;

            &::before {
                bottom: 0;
            }
    
            &::after {
                right: 10%;
            }
        }
    }
}