#france-galleria {
    height: auto;
    width: 100%;

    .france-top {
        background-image: url('./img/france/eiffel.jpg');
        background-position: 0% 60%;
    }

    .france-nav {
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            color: #C5C5C5;
            opacity: 0.8;
        }

        h2 {
            font-family: 'Noto Sans', sans-serif;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0 15px;
        }
    }
}