#france {
    height: auto;
    width: 100%;

    .france-top {
        background-image: url('./img/france/eiffel.jpg');
        background-position: 0 60%;
    }

    .france-gallery-container {
        height: auto;
        width: 100%;
        padding-bottom: 60px;
        position: relative;
        background-color: #f9f6f0;
        
        .france-gallery {
            height: 120vh;
            max-height: 700px;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            position: relative;
            background-color: #f9f6f0;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 5%;
                height: auto;
                width: 95%;
                border-bottom: 2px solid black;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 5%;
                right: 10%;
                height: 95%;
                width: auto;
                border-left: 2px solid black;
            }

            .france-gallery-title {
                display: flex;
                align-items: center;
                position: absolute;
                top: 15%;
                left: 8%;

                h1 {
                    font-size: 8rem;
                    font-weight: 100;
                    letter-spacing: 20px;
                    color: #6F5B3E;
                    text-transform: uppercase;

                    p {
                        font-size: 1.2rem;
                        font-weight: 100;
                        letter-spacing: 10px;
                    }
                }
            }

            .gallery-item {
                position: absolute;
                border-radius: 15px;
                cursor: pointer;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    object-fit: cover;
                    object-position: center;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    justify-content: center;
                }
            }

            .louvre {
                height: 280px;
                width: 450px;
                top: 55%;
                right: 15%;
            }

            .eiffel {
                height: 250px;
                width: 420px;
                top: 10%;
                right: 13%;
            }

            .tower {
                height: 350px;
                width: 480px;
                left: 8%;
                top: 35%;
            }
        }
    }
}