.country-galleria-container {
    height: auto;
    width: 100%;
    padding: 80px 0;
    background-color: var(--cream);

    .country-galleria {
        height: auto;
        width: 90%;
        margin: 0 auto;
        max-width: 1800px;

        .galleria-buttons {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            button {
                color: var(--black);
                background-color: var(--cream);
                border: 2px solid var(--black);
                padding: 15px 50px;
                margin-right: 20px;
                outline: none;
                cursor: pointer;

                &[data-active] {
                    color: var(--cream);
                    background-color: var(--black);
                }

                h1 {
                    font-size: 2rem;
                    font-weight: 100;
                    letter-spacing: 2px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        .galleria-carousel {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            opacity: 0;
            transition: 0.4s ease;
            z-index: -1;
    
            &.active {
                opacity: 1;
                z-index: 1000;
            }
    
            .carousel-top {
                position: absolute;
                top: 0;
                left: 0;
                height: auto;
                width: 100%;
                padding: 25px 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .carousel-slide {
                    font-size: 1.8rem;
                    font-weight: 100;
                    color: rgba(255, 255, 255, 0.8);
                    letter-spacing: 2px;
    
                    span {
                        font-family: 'Open Sans', sans-serif;
                    }
    
                    .carousel-length {
                        letter-spacing: 3px;
                    }
                }
    
                .carousel-right {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    color: var(--white);
    
                    .play,
                    .pause,
                    .close {
                        font-size: 2.8rem;
                        transition: 0.4s ease;
                        cursor: pointer;
    
                        &:hover {
                            transform: scale(0.7);
                        }
                    }

                    .play,
                    .pause {
                        &:hover {
                            transform: scale(0.8);
                        }
                    }

                    .play {
                        display: flex;

                        &.active {
                            display: none;
                        }
                    }
                    
                    .pause {
                        display: none;

                        &.active {
                            display: flex;
                        }
                    }

                    .close {
                        margin-left: 10px;
                    }
                }
            }
    
            .carousel-img-container {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .carousel {
                    height: 100%;
                    width: 100%;
                    display: none;
                    align-items: center;
                    justify-content: center;
    
                    &[data-active] {
                        display: flex;
                    }
                    
                    .carousel-item {
                        position: absolute;
                        height: 80%;
                        width: 80%;
                        max-height: 800px;
                        max-width: 1200px;
                        opacity: 0;
                        transition: 200ms opacity ease-in-out;
                        transition-delay: 0s;
        
                        &[data-active] {
                            opacity: 1;
                        }
        
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
    
            .carousel-buttons {
                position: absolute;
                width: 100%;
                max-width: 2000px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white);

                &.active {
                    display: none;
                }
    
                span {
                    position: absolute;
                    font-size: 5rem;
                    font-weight: 400;
                    transition: 0.4s ease;
                    cursor: pointer;
    
                    &:hover {
                        transform: scale(0.6);
                    }
                }
    
                .left {
                    left: 10%;
                }
    
                .right {
                    right: 10%;
                }
            }
        }

        .galleria {
            height: auto;
            width: 100%;
            display: grid;
            display: none;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: 250px;
            grid-auto-flow: dense;
            margin-top: 50px;

            &[data-active] {
                display: grid;
            }

            .v-stretch {
                grid-row: span 2;
            }

            .h-stretch {
                grid-column: span 2;
            }

            .long-stretch {
                grid-row: span 3;
            }

            .big-stretch {
                grid-row: span 2;
                grid-column: span 2;
            }

            .bigger-stretch {
                grid-row: span 2;
                grid-column: span 3;
            }

            .huge-stretch {
                grid-row: span 3;
                grid-column: span 4;
            }

            .gallery-item img {
                height: 100%;
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
                object-position: center;
                cursor: pointer;
                transition: 0.4s ease;

                &:hover {
                    box-shadow: 0 0 80px black;
                }
            }
        }
    }
}

// Media Queries
@media only screen and (max-width: 1280px) {
    .country-galleria-container .country-galleria {
        width: 95%;

        .galleria-buttons button {
            padding: 10px 40px;
    
            h1 {
                font-size: 1.8rem;
            }
        }

        .galleria-carousel {
            .carousel-top {
                .carousel-slide {
                    font-size: 1.5rem;
                }

                .carousel-right .play,
                .carousel-right .pause,
                .carousel-right .close {
                    font-size: 2.4rem;
                }
            }

            .carousel-img-container .carousel .carousel-item {
                height: 70%;
                max-width: 700px;
            }

            .carousel-buttons {
                span {
                    font-size: 3.6rem;
                }
            }
        }

        .galleria {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }
    }
}

@media only screen and (max-width: 1024px) {
    .country-galleria-container .country-galleria {
        width: 80%;

        .galleria-buttons button {
            padding: 8px 30px;

            h1 {
                font-size: 1.5rem;
            }
        }

        .galleria-carousel {
            .carousel-img-container .carousel .carousel-item {
                height: 70%;
                width: 60%;
    
                img {
                    object-fit: contain;
                }
            }
        }

        .galleria {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            grid-auto-rows: 200px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .country-galleria-container .country-galleria {
        
        .galleria-buttons button {
            margin-right: 8px;

            h1 {
                font-size: 1.2rem;
            }
        }

        .galleria-carousel {
            .carousel-top {
                .carousel-slide {
                    font-size: 1.2rem;
                }

                .carousel-right .play,
                .carousel-right .pause,
                .carousel-right .close {
                    font-size: 2rem;
                }
            }

            .carousel-buttons {
                span {
                    font-size: 2.6rem;
                }
            }
        }

        .galleria {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: 180px;
        }
    }
}