/* Mixin */
@mixin countryContainer {
    .country-main-container {
        height: 500px;
        width: 100%;
        margin-top: 100px;
        position: relative;

        .country-item {
            height: 100%;
            width: 100%;
            max-width: 900px;
            position: relative;
            transition: 0.3s ease-in;
            z-index: 2;
            cursor: pointer;

            &:hover {
                transform: translate(-50px, -50px);

                .country-link {
                    .country-overlay {
                        img {
                            opacity: 0;
                            transition-delay: 0s;
                        }
    
                        &::before {
                            width: 100%;
                        }
    
                        .overlay-title {
                            opacity: 0;
                            transition-delay: 0s;
                        }
    
                        .overlay-title-2 {
                            transform: scale(1.2);
                            transition-delay: 0.5s;
                            opacity: 1;
                        }
                    }
                }

                .country-border {
                    transform: translate(80px, 80px);
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .country-link {
                text-decoration: none;

                .country-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0%;
                        opacity: 0.7;
                        z-index: 2;
                        transition: 0.3s ease-in;
                    }
    
                    .overlay-title,
                    .overlay-title-2 {
                        color: white;
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        transition: 0.4s ease-in;
                        transition-delay: 0.4s;
                        z-index: 3;
                        
                        h1 {
                            font-size: 7rem;
                            font-weight: 100;
                            letter-spacing: 10px;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }
    
                        p {
                            font-size: 1.6rem;
                            font-weight: 100;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                        }
                    }
    
                    .overlay-title-2 {
                        opacity: 0;
                        position: relative;
                        top: 0;
                        left: 0;
                        text-align: center;
                        transform: scale(0.2);
                        transition: 0.4s ease;
                        transition-delay: 0s;
                    }
    
                    img {
                        position: absolute;
                        right: 50px;
                        bottom: 50px;
                        height: 60px;
                        width: 100px;
                        object-fit: cover;
                        object-position: center;
                        opacity: 1;
                        transition: 0.4s ease-in;
                        transition-delay: 0.4s;
                        z-index: 3;
                    }
                }
            }

            .country-border {
                content: '';
                position: absolute;
                top: -50px;
                left: -50px;
                height: 100%;
                width: 100%;
                border: 5px solid black;
                transition: 0.3s ease-in;
                z-index: -1;
            }
        }

        .country-bg-text {
            width: 90%;
            max-width: 1700px;
            position: absolute;
            top: 70%;
            left: 0;
            transform: translateY(-70%);
            border-bottom: 1px solid black;
            padding-bottom: 10px;

            h1 {
                float: right;
                position: relative;
                right: 60px;
                font-size: 3rem;
                font-weight: 100;
                letter-spacing: 2px;
                color: black;
                text-transform: uppercase;
            }
        }
    }
}
/* End Mixin */

#home {
    height: auto;
    width: 100%;

    .home-container {
        height: 90vh;
        max-height: 1280px;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            z-index: 2;

            h1 {
                font-size: 7rem;
                font-weight: 900;
                letter-spacing: 8px;
                color: white;
                text-transform: uppercase;
                margin-bottom: 30px;
            }

            a {
                display: inline-block;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.5rem;
                font-weight: 100;
                letter-spacing: 3px;
                padding: 10px 50px;
                color: white;
                background: linear-gradient(to right, #FF4500, orange);
                text-decoration: none;
                text-transform: uppercase;
                position: relative;
                z-index: 3;

                p {
                    z-index: 2;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0%;
                    background: linear-gradient(to right, orange, orange, orange, white);
                    transition: 0.6s ease;
                    z-index: -1;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .country-container {
        height: auto;
        width: 100%;
        background-color: #F9F6F0;
        position: relative;
        padding: 100px 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 60%;
            max-width: 1280px;
            border-left: 1px solid #C5C5C5;
            border-right: 1px solid #C5C5C5;
        }

        .country-title {
            width: 100%;
            padding: 10px 0 30px;

            h1 {
                color: #171717;
                font-size: 5rem;
                font-weight: 100;
                letter-spacing: 5px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .country-content {
            height: auto;
            width: 80%;
            margin: 0 auto;

            @include countryContainer();
            .country-italy-container {
                .country-italy {
                    left: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(to right, #008C45, white, white, #CD212A);
                        }
                    }
                }
            }

            .country-france-container {
                margin: 200px 0;
                display: flex;
                justify-content: flex-end;

                .country-france {
                    right: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(to right, #002654, white, white, #ED2939);
                        }
                    }

                    &:hover {
                        transform: translate(50px, -50px);

                        .country-border {
                            transform: translate(-80px, 80px);
                        }
                    }

                    .country-border {
                        bottom: 50px;
                        left: 50px;
                    }
                }

                .country-bg-text {
                    left: auto;
                    right: 0;

                    h1 {
                        float: none;
                        left: 60px;
                    }
                }
            }

            .country-spain-container {
                .country-spain {
                    left: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(#AA151B, #F1BF00, #F1BF00, #AA151B);
                        }
                    }
                }
            }

            .country-england-container {
                margin-top: 200px;
                display: flex;
                justify-content: flex-end;

                .country-england {
                    right: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(to right, white, #ED2939, white);
                        }
                    }

                    &:hover {
                        transform: translate(50px, -50px);

                        .country-border {
                            transform: translate(-80px, 80px);
                        }
                    }

                    .country-border {
                        bottom: 50px;
                        left: 50px;
                    }
                }

                .country-bg-text {
                    left: auto;
                    right: 0;

                    h1 {
                        float: none;
                        left: 60px;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}