/* Mixin */
@mixin countryContainer {
    .country-main-container {
        height: 500px;
        width: 100%;
        margin-top: 100px;
        position: relative;

        .country-item {
            height: 100%;
            width: 100%;
            max-width: 900px;
            position: relative;
            transition: 0.3s ease-in;
            z-index: 2;
            cursor: pointer;

            &:hover {
                transform: translate(-50px, -50px);

                .country-link {
                    .country-overlay {
                        img {
                            opacity: 0;
                            transition-delay: 0s;
                        }
    
                        &::before {
                            width: 100%;
                        }
    
                        .overlay-title {
                            opacity: 0;
                            transition-delay: 0s;
                        }
    
                        .overlay-title-2 {
                            transform: scale(1.2);
                            transition-delay: 0.5s;
                            opacity: 1;
                        }
                    }
                }

                .country-border {
                    transform: translate(80px, 80px);
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .country-link {
                text-decoration: none;

                .country-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0%;
                        opacity: 0.7;
                        z-index: 2;
                        transition: 0.3s ease-in;
                    }
    
                    .overlay-title,
                    .overlay-title-2 {
                        color: var(--white);
                        position: absolute;
                        top: 50px;
                        left: 50px;
                        transition: 0.4s ease-in;
                        transition-delay: 0.4s;
                        z-index: 3;
                        
                        h1 {
                            font-size: 7rem;
                            font-weight: 100;
                            letter-spacing: 10px;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 1.6rem;
                            font-weight: 100;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                        }
                    }
    
                    .overlay-title-2 {
                        opacity: 0;
                        position: relative;
                        top: 0;
                        left: 0;
                        text-align: center;
                        transform: scale(0.2);
                        transition: 0.4s ease;
                        transition-delay: 0s;
                    }
    
                    img {
                        position: absolute;
                        right: 50px;
                        bottom: 50px;
                        height: 60px;
                        width: 100px;
                        object-fit: cover;
                        object-position: center;
                        opacity: 1;
                        transition: 0.4s ease-in;
                        transition-delay: 0.4s;
                        z-index: 3;
                    }
                }
            }

            .country-border {
                content: '';
                position: absolute;
                top: -50px;
                left: -50px;
                height: 100%;
                width: 100%;
                border: 5px solid black;
                transition: 0.3s ease-in;
                z-index: -1;
            }
        }

        .country-bg-text {
            width: 90%;
            max-width: 1700px;
            position: absolute;
            top: 70%;
            left: 0;
            transform: translateY(-70%);
            border-bottom: 1px solid black;
            padding-bottom: 10px;

            h1 {
                float: right;
                position: relative;
                right: 60px;
                font-size: 3rem;
                font-weight: 100;
                letter-spacing: 2px;
                color: var(--dark-beige);
                text-transform: uppercase;
            }
        }
    }
}
/* End Mixin */

#home {
    height: auto;
    width: 100%;

    .home-container {
        height: 90vh;
        max-height: 1280px;
        width: 100%;
        position: relative;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        .home-overlay-nav {
            height: auto;
            width: 100%;
            padding: 15px 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            justify-content: flex-end;

            span {
                font-size: 2.5rem;
                color: var(--white);
                cursor: pointer;
                padding-left: 20px;
            }

            .layers {
                display: flex;

                &.active {
                    display: none;
                }
            }

            .layers-clear {
                display: none;

                &.active {
                    display: flex;
                }
            }

            .audio {
                display: none;

                &.active {
                    display: flex;
                }
            }

            .mute {
                display: flex;

                &.active {
                    display: none;
                }
            }
        }

        .home-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 1;
            display: flex;
            align-items: center;

            &.active {
                opacity: 0;
            }

            .title {
                display: block;
                position: relative;
                left: 50px;

                h1 {
                    font-size: 7rem;
                    font-weight: 900;
                    letter-spacing: 8px;
                    color: var(--white);
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
    
                a {
                    display: inline-block;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.5rem;
                    font-weight: 100;
                    letter-spacing: 3px;
                    padding: 10px 50px;
                    color: var(--white);
                    background: linear-gradient(to right, orange, orange, orange, var(--cream));
                    text-decoration: none;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 3;
    
                    p {
                        z-index: 2;
                    }
    
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 0%;
                        background: linear-gradient(to right, #FF4500, orange);
                        transition: 0.4s ease;
                        z-index: -1;
                    }
    
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .country-container {
        height: auto;
        width: 100%;
        background-color: var(--cream);
        position: relative;
        padding: 100px 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 60%;
            max-width: 1280px;
            border-left: 1px solid #C5C5C5;
            border-right: 1px solid #C5C5C5;
        }

        .country-title {
            width: 100%;
            padding: 10px 0 30px;

            h1 {
                color: var(--dark-beige);
                font-size: 5rem;
                font-weight: 100;
                letter-spacing: 5px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .country-content {
            height: auto;
            width: 80%;
            margin: 0 auto;

            @include countryContainer();
            .country-italy-container {
                .country-italy {
                    left: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(to right, #008C45, white, white, #CD212A);
                        }
                    }
                }
            }

            .country-france-container {
                margin: 200px 0;
                display: flex;
                justify-content: flex-end;

                .country-france {
                    right: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(to right, #002654, white, white, #ED2939);
                        }
                    }

                    &:hover {
                        transform: translate(50px, -50px);

                        .country-border {
                            transform: translate(-80px, 80px);
                        }
                    }

                    .country-border {
                        bottom: 50px;
                        left: 50px;
                    }
                }

                .country-bg-text {
                    left: auto;
                    right: 0;

                    h1 {
                        float: none;
                        left: 60px;
                    }
                }
            }

            .country-netherlands-container {
                .country-netherlands {
                    left: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(#AE1C28, #FFF, #FFF, #21468B);
                        }
                    }
                }
            }

            .country-england-container {
                margin-top: 200px;
                display: flex;
                justify-content: flex-end;

                .country-england {
                    right: 100px;

                    .country-overlay {
                        &::before {
                            background-image: linear-gradient(to right, white, #ED2939, white);
                        }
                    }

                    &:hover {
                        transform: translate(50px, -50px);

                        .country-border {
                            transform: translate(-80px, 80px);
                        }
                    }

                    .country-border {
                        bottom: 50px;
                        left: 50px;
                    }
                }

                .country-bg-text {
                    left: auto;
                    right: 0;

                    h1 {
                        float: none;
                        left: 60px;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// Media Queries
@media only screen and (max-width: 1280px) {
    #home {
        .home-container .home-overlay .title {
            h1 {
                font-size: 5.5rem;
            }
    
            a {
                font-size: 1.2rem;
                padding: 10px 30px;
            }
        }

        .country-container {
            .country-title h1 {
                font-size: 4.2rem;
            }

            .country-content {
                .country-main-container {
                    height: 300px;
    
                    .country-item {
                        max-width: 500px;
    
                        .country-link .country-overlay {
                            .overlay-title,
                            .overlay-title-2 {
                                h1 {
                                    font-size: 4rem;
                                }
                            }
    
                            img {
                                height: 30px;
                                width: 50px;
                            }
                        }
                    }
    
                    .country-bg-text h1 {
                        font-size: 2.5rem;
                    }
                }

                .country-netherlands-container .country-item .country-link .country-overlay .overlay-title-2 h1 {
                    font-size: 3.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #home .country-container .country-content {
        .country-main-container {
            display: flex;
            justify-content: center;
    
            .country-bg-text {
                display: none;
            }
        }

        .country-italy-container .country-italy,
        .country-netherlands-container .country-netherlands {
            left: 0;
        }

        .country-france-container .country-france,
        .country-england-container .country-england {
            right: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    #home {
        .home-container .home-overlay .title {
            left: 0;
            text-align: center;
            margin: 0 auto;

            h1 {
                font-size: 4rem;
            }
    
            a {
                font-size: 1rem;
                padding: 10px 30px;
            }
        }

        .country-container {
            padding: 75px 0;

            &::after {
                width: 499.2px;
            }

            .country-title h1 {
                font-size: 2.8rem;
            }

            .country-content {
                .country-main-container {
                    height: 200px;
                    margin: 150px 0;
    
                    .country-item {
                        max-width: 350px;

                        .country-border {
                            top: -30px;
                            left: -30px;
                        }
    
                        &:hover {
                            .country-border {
                                transform: translate(60px, 60px)
                            }
                        }
                        .country-link .country-overlay {
                            .overlay-title {
                                top: 20px;
                                left: 20px;
                            }
    
                            .overlay-title {
                                h1 {
                                    font-size: 3.6rem;
                                }
    
                                p {
                                    font-size: 1.2rem;
                                }
                            }
    
                            .overlay-title-2 {
                                h1 {
                                    font-size: 3rem;
                                }
    
                                p {
                                    font-size: 1rem;
                                }
                            }
    
                            img {
                                height: 20px;
                                width: 35px;
                                right: 20px;
                                bottom: 20px;
                            }
                        }
                    }
    
                    .country-bg-text h1 {
                        font-size: 2.5rem;
                    }
                }

                .country-italy-container {
                    margin-top: 75px;
                }

                .country-france-container .country-france {
                    .country-border {
                        bottom: 30px;
                        left: 30px;
                    }

                    &:hover {
                        .country-border {
                            transform: translate(-60px, 60px);
                        }
                    }
                }

                .country-england-container {
                    margin-bottom: 0px;

                    .country-england {
                        .country-border {
                            bottom: 30px;
                            left: 30px;
                        }
    
                        &:hover {
                            .country-border {
                                transform: translate(-60px, 60px);
                            }
                        }
                    }
                }
            }
        }
    }
}