.top {
    height: 90vh;
    max-height: 1280px;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

    .top-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: var(--cream);
            font-size: 5.5rem;
            font-weight: 100;
            letter-spacing: 10px;
            line-height: 8rem;
            text-transform: uppercase;
        }

        a {
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 3px;
            padding: 15px 30px;
            color: var(--white);
            background-color: var(--light-beige);
            text-decoration: none;
            text-transform: uppercase;
            outline: none;
        }
    }
}

.gallery-container {
    height: auto;
    width: 100%;
    position: relative;
    padding: 60px 0;
    background-color: var(--cream);

    .gallery {
        height: auto;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 100px;
        padding-bottom: 50px;
        position: relative;
        background-color: var(--cream);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(440px, 2fr));
        grid-row-gap: 50px;
        align-items: center;
        justify-items: center;

        .gallery-title {
            display: flex;
            align-items: center;

            h1 {
                font-size: 8rem;
                font-weight: 100;
                letter-spacing: 20px;
                color: var(--dark-beige);
                text-transform: uppercase;

                p {
                    font-size: 1.2rem;
                    font-weight: 900;
                    letter-spacing: 10px;
                }
            }
        }

        .gallery-item {
            border-radius: 15px;
            cursor: pointer;
            position: relative;
            height: 300px;
            width: 420px;

            &:hover {
                .overlay-title {
                    transform: translateY(-60%);
                    opacity: 0;
                }

                .overlay {
                    opacity: 0.6;
                    transition-delay: 0.4s;
                }
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: 15px;
                object-fit: cover;
                object-position: center;
            }

            a {
                text-decoration: none;
                outline: none;
            }

            .overlay-title {
                position: absolute;
                left: 0;
                bottom: 0;
                height: auto;
                width: 100%;
                background-color: var(--cream);
                padding: 15px 0;
                opacity: 1;
                transition: 0.4s ease;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border: 2px solid var(--dark-beige);

                h2 {
                    font-size: 2rem;
                    font-weight: 900;
                    letter-spacing: 4px;
                    color: var(--dark-beige);
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 15px;
                background-color: var(--black);
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.6s ease;

                h1 {
                    font-size: 3rem;
                    font-weight: 900;
                    letter-spacing: 6px;
                    color: var(--white);
                    text-transform: uppercase;
                    transition: 0.4s ease;
                    transition-delay: 0.4s;
                }
            }
        }
    }
}

// Media Queries
@media only screen and (max-width: 1280px) {
    .top .top-title {
        h1 {
            font-size: 5rem;
        }

        a {
            font-size: 1.4rem;
            padding: 15px 20px;
        }
    }

    .gallery-container .gallery {
        padding-bottom: 0px;
        
        .gallery-title {
            h1 {
                font-size: 6rem;
            }
        }

        .gallery-item {
            height: 250px;
            width: 400px;

            .overlay-title h2 {
                font-size: 1.8rem;
            }

            .overlay h1 {
                font-size: 2.4rem;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .top .top-title {
        h1 {
            font-size: 4rem;
            line-height: 1;
            margin-bottom: 5px;
        }

        a {
            font-size: 1rem;
            padding: 10px 15px;
        }
    }

    .gallery-container .gallery {
        width: 80%;
        padding: 0 50px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .gallery-title h1 {
            font-size: 5rem;
        }

        .gallery-item {
            height: 400px;
            width: 80%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 10px 20px;
    }

    .gallery-container .gallery {
        padding: 0px;

        .gallery-title {
            h1 {
                font-size: 4.5rem;
                letter-spacing: 15px;

                p {
                    font-size: 1rem;
                }
            }
        }

        .gallery-item {
            height: 300px;

            .overlay-title {
                padding: 10px 0;

                h2 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}