#italy {
    height: auto;
    width: 100%;

    .italy-top {
        background-image: url('./img/italy/TREVI.jpg');
        background-position: top;

        .italy-top-title {
            h1 {
                line-height: 1;
            }

            a {
                line-height: 1;
            }
        }
    }

    .italy-nav {
        line-height: 1;
        
        a {
            line-height: 1;
        }
    
        h1 {
            margin: 0;
        }
    }

    .carousel-container {
        height: 100vh;
        max-height: 750px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0;
        background-color: #171717;
        display: flex;
        align-items: center;
    
        .carousel {
            height: 450px;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
    
            .indicators {
                bottom: -20px;
    
                .indicator-item {
                    background-color: var(--white);
    
                    &.active {
                        background-color: var(--light-beige);
                    }
                }
            }
    
            .carousel-item {
                margin: 0 auto;
                height: 350px;
                width: 500px;
                text-decoration: none;
    
                &.active {
                    .img-container .img-overlay .img-overlay-title {
                        animation: fadeIn 0.6s ease forwards;
                        animation-delay: 0.2s;
                    }
                }
    
                .img-container {
                    height: 100%;
                    width: 100%;
                    position: relative;
    
                    .img-overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        background-color: rgba(0, 0, 0, 0.6);
                        transition: 0.3s ease;
                        line-height: 1;
                        margin: 0;
    
                        .img-overlay-title {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            opacity: 0;

                            h1, p {
                                font-size: 4.5rem;
                                font-weight: 100;
                                letter-spacing: 6px;
                                line-height: 1;
                                color: var(--white);
                                text-transform: uppercase;
                                z-index: 2;
                                margin: 0;
                            }
    
                            p {
                                font-size: 1.5rem;
                                margin-top: 8px;
                            }
                        }
                    }
    
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}

// Media Queries
@media only screen and (max-width: 1280px) {
    #italy .carousel-container .carousel {
        .carousel-item {
            height: 300px;
            width: 450px;

            .img-container .img-overlay .img-overlay-title {
                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #italy .carousel-container .carousel {
        .carousel-item {
            height: 250px;
            width: 350px;

            .img-container .img-overlay .img-overlay-title {
                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}