#italy-galleria {
    height: auto;
    width: 100%;
    position: relative;

    .italy-top {
        background-image: url('./img/italy/TREVI.jpg');
        background-position: top;
    }

    .italy-nav {
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            color: var(--light-grey);
            opacity: 0.8;
        }

        h2 {
            font-family: 'Noto Sans', sans-serif;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0 15px;
        }
    }
}