#italy {
    height: auto;
    width: 100%;

    .italy-top {
        background-image: url('./img/italy/TREVI.jpg');
        background-position: top;

        .italy-top-title {
            h1 {
                line-height: 1;
            }

            a {
                line-height: 1;
            }
        }
    }

    .italy-nav {
        line-height: 1;
        
        a {
            line-height: 1;
        }
    
        h1 {
            margin: 0;
        }
    }
}

.italy-footer {
    border-top: 1px solid var(--white);
    background-color: #171717;
}