.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: var(--black);

    &.hidden {
        transition: 1s ease;
        transition-delay: 0.6s;
        opacity: 0;
        z-index: -2;
    }

    .loader-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        animation: fade 1s ease forwards;
        animation-delay: 0.7s;
        margin-bottom: 40px;
        transition-delay: 0s;

        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            transition-delay: 0s;
        }
    }

    .rotate {
        animation: fade 1s ease forwards;
        animation-delay: 0.4s;

        .sync {
            color: var(--white);
            animation: rotate 1.6s linear infinite;
            transform: scale(1.5);
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.5)
    }

    100% {
        transform: rotate(-360deg) scale(1.5)
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    .loader {
        &.hidden {
            transition: 0s;
            transition-delay: 0s;
        }
    }
}