#spain {
    height: auto;
    width: 100%;

    .spain-top {
        background-image: url('./img/lasagrada.jpg');
        background-position: center;
    }

    .spain-gallery-container {
        padding-top: 0px;
        
        .spain-gallery {
            height: 140vh;
            max-height: 850px;

            &::before {
                bottom: 0;
            }
    
            &::after {
                right: 10%;
            }

            .spain-gallery-title {
                top: 15%;
                left: 8%;
            }

            .gallery-item {
                &:hover {
                    .overlay {
                        height: 100%;
                        animation: height 0.4s ease forwards;

                        h1 {
                            animation: fadeIn 0.6s ease forwards;
                            animation-delay: 0.5s;
                        }
                    }
                }

                .overlay {
                    background-color: rgba(0, 0, 0, 0.6);
                    animation: fadeOut 0.6s ease forwards;

                    h1 {
                        font-size: 5rem;
                        font-weight: 900;
                        color: white;
                        letter-spacing: 10px;
                        text-align: center;
                        text-transform: uppercase;
                        opacity: 0;
                        animation: textFadeOut 0.6s ease forwards;
                    }
                }
            }

            .lasagrada {
                height: 440px;
                width: 850px;
                top: 43%;
                left: 8%;
            }

            .museo {
                height: 280px;
                width: 550px;
                top: 5%;
                right: 15%;
            }
        }
    }
}

// Keyframes
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes textFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes height {
    0% {
        height: 0%;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}