#spain {
    height: auto;
    width: 100%;

    .spain-top {
        background-image: url('./img/lasagrada.jpg');
        background-position: center;
    }

    .spain-gallery-container {
        .spain-gallery {
            padding-bottom: 50px;

            &::before {
                bottom: 0;
            }
    
            &::after {
                right: 8%;
            }

            .gallery-item {
                &:hover {
                    .overlay {
                        height: 100%;
                        animation: height 0.4s ease forwards;

                        h1 {
                            animation: fadeIn 0.6s ease forwards;
                            animation-delay: 0.5s;
                        }
                    }
                }

                .overlay {
                    background-color: rgba(0, 0, 0, 0.6);
                    animation: fadeOut 0.6s ease forwards;

                    h1 {
                        font-size: 3.5rem;
                        font-weight: 900;
                        color: var(--white);
                        letter-spacing: 8px;
                        text-align: center;
                        text-transform: uppercase;
                        opacity: 0;
                        animation: textFadeOut 0.6s ease forwards;
                    }
                }
            }
        }
    }
}

// Keyframes
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes textFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes height {
    0% {
        height: 0%;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}

// Media Queries
@media only screen and (max-width: 1280px) {
    #spain .spain-gallery-container .spain-gallery {
        padding-bottom: 0px;

        .gallery-item .overlay h1 {
            font-size: 3rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    #spain .spain-gallery-container .spain-gallery {

        .gallery-title h1 {
            p {
                font-size: 1rem;
                letter-spacing: 7px;
            }
        }

        .gallery-item .overlay h1 {
            font-size: 2.5rem;
            letter-spacing: 5px;
        }
    }
}