#spain-galleria {
    height: auto;
    width: 100%;

    .spain-top {
        background-image: url('./img/lasagrada.jpg');
        background-position: center;
    }

    .spain-nav {
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            color: #C5C5C5;
            opacity: 0.8;
        }

        h2 {
            font-family: 'Noto Sans', sans-serif;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0 15px;
        }
    }
}