#spain {
    height: auto;
    width: 100%;

    .spain-top {
        background-image: url('./img/lasagrada.jpg');
        background-position: center;
    }

    .spain-gallery-container {
        max-width: 1440px;
    }
}