@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); /* Google Icons */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); /* Font-Family: 'League Spartan' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* Font-Family: 'Noto Sans' */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap'); /* Font-Family: 'Open Sans' */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap'); /* Font-Family: 'Kalam' */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
}

.nav {
    height: auto;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;

    a {
        text-decoration: none;
        
        span {
            font-size: 2.5rem;
            color: black;
            padding-right: 15px;
            cursor: pointer;
        }
    }

    h1 {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 0 15px;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

@import "./home";

@import "./italy";