@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); /* Google Icons */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); /* Font-Family: 'League Spartan' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* Font-Family: 'Noto Sans' */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap'); /* Font-Family: 'Open Sans' */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap'); /* Font-Family: 'Kalam'; */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
}

.smooth {
    scroll-behavior: smooth;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --cream: #F9F6F0;
    --light-beige: #C4AE78;
    --dark-beige: #6F5B3E;
    --light-grey: #C5C5C5;
}

@import "./preloader";
@import "./footer";

@import "./navigation";
@import "./homegallery";

@import "./home";
@import "./galleria";

@import "./italy";
@import "./italygalleria";

@import "./france";
@import "./francegalerie";

@import "./spain";
@import "./spaingaleriÃÅa";

@import "./england";
@import "./englandgallery";