@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* Google Icons */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"); /* Font-Family: 'League Spartan' */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap"); /* Font-Family: 'Noto Sans' */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"); /* Font-Family: 'Open Sans' */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap"); /* Font-Family: 'Kalam'; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
}

.smooth {
  scroll-behavior: smooth;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --cream: #F9F6F0;
  --light-beige: #C4AE78;
  --dark-beige: #6F5B3E;
  --light-grey: #C5C5C5;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: var(--black);
}
.loader.hidden {
  transition: 1s ease;
  transition-delay: 0.6s;
  opacity: 0;
  z-index: -2;
}
.loader .loader-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-animation: fade 1s ease forwards;
          animation: fade 1s ease forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  margin-bottom: 40px;
  transition-delay: 0s;
}
.loader .loader-title img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition-delay: 0s;
}
.loader .rotate {
  -webkit-animation: fade 1s ease forwards;
          animation: fade 1s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loader .rotate .sync {
  color: var(--white);
  -webkit-animation: rotate 1.6s linear infinite;
          animation: rotate 1.6s linear infinite;
  transform: scale(1.5);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1.5);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
footer {
  height: auto;
  width: 100%;
  background-color: var(--black);
}
footer .footer-container {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-container .copyright h3 {
  font-family: "Kalam", cursive;
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--white);
}
footer .footer-container .countries ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
footer .footer-container .countries ul li {
  margin-right: 40px;
}
footer .footer-container .countries ul li a {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--white);
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
footer .footer-container .countries ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
footer .footer-container .countries ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .footer-container .countries ul li:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 1280px) {
  footer .footer-container {
    padding: 75px 0;
  }
  footer .footer-container .countries ul li {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  footer .footer-container {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-container .copyright {
    margin-top: 30px;
  }
  footer .footer-container .copyright h3 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-container .countries ul li {
    margin-right: 20px;
  }
  footer .footer-container .copyright h3 {
    font-size: 1.2rem;
  }
}
.nav {
  height: auto;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.nav a {
  text-decoration: none;
}
.nav a span {
  font-size: 2.5rem;
  color: var(--black);
  padding-right: 15px;
  cursor: pointer;
}
.nav h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 15px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.top {
  height: 90vh;
  max-height: 1280px;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.top:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.top .top-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top .top-title h1 {
  color: var(--cream);
  font-size: 5.5rem;
  font-weight: 100;
  letter-spacing: 10px;
  line-height: 8rem;
  text-transform: uppercase;
}
.top .top-title a {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 15px 30px;
  color: var(--white);
  background-color: var(--light-beige);
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

.gallery-container {
  height: auto;
  width: 100%;
  position: relative;
  padding: 60px 0;
  background-color: var(--cream);
}
.gallery-container .gallery {
  height: auto;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 100px;
  padding-bottom: 50px;
  position: relative;
  background-color: var(--cream);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 2fr));
  grid-row-gap: 50px;
  align-items: center;
  justify-items: center;
}
.gallery-container .gallery::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: auto;
  width: 95%;
  border-bottom: 2px solid black;
}
.gallery-container .gallery::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  border-left: 2px solid black;
}
.gallery-container .gallery .gallery-title {
  display: flex;
  align-items: center;
}
.gallery-container .gallery .gallery-title h1 {
  font-size: 8rem;
  font-weight: 100;
  letter-spacing: 20px;
  color: var(--dark-beige);
  text-transform: uppercase;
}
.gallery-container .gallery .gallery-title h1 p {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 10px;
}
.gallery-container .gallery .gallery-item {
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  height: 300px;
  width: 420px;
}
.gallery-container .gallery .gallery-item:hover .overlay-title {
  transform: translateY(-60%);
  opacity: 0;
}
.gallery-container .gallery .gallery-item:hover .overlay {
  opacity: 0.6;
  transition-delay: 0.4s;
}
.gallery-container .gallery .gallery-item img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery-container .gallery .gallery-item a {
  text-decoration: none;
  outline: none;
}
.gallery-container .gallery .gallery-item .overlay-title {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: var(--cream);
  padding: 15px 0;
  opacity: 1;
  transition: 0.4s ease;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid var(--dark-beige);
}
.gallery-container .gallery .gallery-item .overlay-title h2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 4px;
  color: var(--dark-beige);
  text-align: center;
  text-transform: uppercase;
}
.gallery-container .gallery .gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: var(--black);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease;
}
.gallery-container .gallery .gallery-item .overlay h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 6px;
  color: var(--white);
  text-transform: uppercase;
  transition: 0.4s ease;
  transition-delay: 0.4s;
}

@media only screen and (max-width: 1280px) {
  .top .top-title h1 {
    font-size: 5rem;
  }
  .top .top-title a {
    font-size: 1.4rem;
    padding: 15px 20px;
  }
  .gallery-container .gallery {
    padding-bottom: 0px;
  }
  .gallery-container .gallery::before {
    display: none;
  }
  .gallery-container .gallery::after {
    display: none;
  }
  .gallery-container .gallery .gallery-title h1 {
    font-size: 6rem;
  }
  .gallery-container .gallery .gallery-item {
    height: 250px;
    width: 400px;
  }
  .gallery-container .gallery .gallery-item .overlay-title h2 {
    font-size: 1.8rem;
  }
  .gallery-container .gallery .gallery-item .overlay h1 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 1100px) {
  .top .top-title h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 5px;
  }
  .top .top-title a {
    font-size: 1rem;
    padding: 10px 15px;
  }
  .gallery-container .gallery {
    width: 80%;
    padding: 0 50px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .gallery-container .gallery .gallery-title h1 {
    font-size: 5rem;
  }
  .gallery-container .gallery .gallery-item {
    height: 400px;
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    padding: 10px 20px;
  }
  .gallery-container .gallery {
    padding: 0px;
  }
  .gallery-container .gallery .gallery-title h1 {
    font-size: 4.5rem;
    letter-spacing: 15px;
  }
  .gallery-container .gallery .gallery-title h1 p {
    font-size: 1rem;
  }
  .gallery-container .gallery .gallery-item {
    height: 300px;
  }
  .gallery-container .gallery .gallery-item .overlay-title {
    padding: 10px 0;
  }
  .gallery-container .gallery .gallery-item .overlay-title h2 {
    font-size: 1.8rem;
  }
}
/* Mixin */
/* End Mixin */
#home {
  height: auto;
  width: 100%;
}
#home .home-container {
  height: 90vh;
  max-height: 1280px;
  width: 100%;
  position: relative;
}
#home .home-container video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
#home .home-container .home-overlay-nav {
  height: auto;
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
#home .home-container .home-overlay-nav span {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  padding-left: 20px;
}
#home .home-container .home-overlay-nav .layers {
  display: flex;
}
#home .home-container .home-overlay-nav .layers.active {
  display: none;
}
#home .home-container .home-overlay-nav .layers-clear {
  display: none;
}
#home .home-container .home-overlay-nav .layers-clear.active {
  display: flex;
}
#home .home-container .home-overlay-nav .audio {
  display: none;
}
#home .home-container .home-overlay-nav .audio.active {
  display: flex;
}
#home .home-container .home-overlay-nav .mute {
  display: flex;
}
#home .home-container .home-overlay-nav .mute.active {
  display: none;
}
#home .home-container .home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  display: flex;
  align-items: center;
}
#home .home-container .home-overlay.active {
  opacity: 0;
}
#home .home-container .home-overlay .title {
  display: block;
  position: relative;
  left: 50px;
}
#home .home-container .home-overlay .title h1 {
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 8px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
}
#home .home-container .home-overlay .title a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 10px 50px;
  color: var(--white);
  background: linear-gradient(to right, orange, orange, orange, var(--cream));
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
#home .home-container .home-overlay .title a p {
  z-index: 2;
}
#home .home-container .home-overlay .title a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #FF4500, orange);
  transition: 0.4s ease;
  z-index: -1;
}
#home .home-container .home-overlay .title a:hover::after {
  width: 100%;
}
#home .country-container {
  height: auto;
  width: 100%;
  background-color: var(--cream);
  position: relative;
  padding: 100px 0;
}
#home .country-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 60%;
  max-width: 1280px;
  border-left: 1px solid #C5C5C5;
  border-right: 1px solid #C5C5C5;
}
#home .country-container .country-title {
  width: 100%;
  padding: 10px 0 30px;
}
#home .country-container .country-title h1 {
  color: #171717;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
#home .country-container .country-content {
  height: auto;
  width: 80%;
  margin: 0 auto;
}
#home .country-container .country-content .country-main-container {
  height: 500px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}
#home .country-container .country-content .country-main-container .country-item {
  height: 100%;
  width: 100%;
  max-width: 900px;
  position: relative;
  transition: 0.3s ease-in;
  z-index: 2;
  cursor: pointer;
}
#home .country-container .country-content .country-main-container .country-item:hover {
  transform: translate(-50px, -50px);
}
#home .country-container .country-content .country-main-container .country-item:hover .country-link .country-overlay img {
  opacity: 0;
  transition-delay: 0s;
}
#home .country-container .country-content .country-main-container .country-item:hover .country-link .country-overlay::before {
  width: 100%;
}
#home .country-container .country-content .country-main-container .country-item:hover .country-link .country-overlay .overlay-title {
  opacity: 0;
  transition-delay: 0s;
}
#home .country-container .country-content .country-main-container .country-item:hover .country-link .country-overlay .overlay-title-2 {
  transform: scale(1.2);
  transition-delay: 0.5s;
  opacity: 1;
}
#home .country-container .country-content .country-main-container .country-item:hover .country-border {
  transform: translate(80px, 80px);
}
#home .country-container .country-content .country-main-container .country-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#home .country-container .country-content .country-main-container .country-item .country-link {
  text-decoration: none;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0.7;
  z-index: 2;
  transition: 0.3s ease-in;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title,
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 {
  color: var(--white);
  position: absolute;
  top: 50px;
  left: 50px;
  transition: 0.4s ease-in;
  transition-delay: 0.4s;
  z-index: 3;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title h1,
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 h1 {
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title p,
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 p {
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 {
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  transform: scale(0.2);
  transition: 0.4s ease;
  transition-delay: 0s;
}
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay img {
  position: absolute;
  right: 50px;
  bottom: 50px;
  height: 60px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 1;
  transition: 0.4s ease-in;
  transition-delay: 0.4s;
  z-index: 3;
}
#home .country-container .country-content .country-main-container .country-item .country-border {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  height: 100%;
  width: 100%;
  border: 5px solid black;
  transition: 0.3s ease-in;
  z-index: -1;
}
#home .country-container .country-content .country-main-container .country-bg-text {
  width: 90%;
  max-width: 1700px;
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-70%);
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
#home .country-container .country-content .country-main-container .country-bg-text h1 {
  float: right;
  position: relative;
  right: 60px;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: var(--black);
  text-transform: uppercase;
}
#home .country-container .country-content .country-italy-container .country-italy {
  left: 100px;
}
#home .country-container .country-content .country-italy-container .country-italy .country-overlay::before {
  background-image: linear-gradient(to right, #008C45, white, white, #CD212A);
}
#home .country-container .country-content .country-france-container {
  margin: 200px 0;
  display: flex;
  justify-content: flex-end;
}
#home .country-container .country-content .country-france-container .country-france {
  right: 100px;
}
#home .country-container .country-content .country-france-container .country-france .country-overlay::before {
  background-image: linear-gradient(to right, #002654, white, white, #ED2939);
}
#home .country-container .country-content .country-france-container .country-france:hover {
  transform: translate(50px, -50px);
}
#home .country-container .country-content .country-france-container .country-france:hover .country-border {
  transform: translate(-80px, 80px);
}
#home .country-container .country-content .country-france-container .country-france .country-border {
  bottom: 50px;
  left: 50px;
}
#home .country-container .country-content .country-france-container .country-bg-text {
  left: auto;
  right: 0;
}
#home .country-container .country-content .country-france-container .country-bg-text h1 {
  float: none;
  left: 60px;
}
#home .country-container .country-content .country-spain-container .country-spain {
  left: 100px;
}
#home .country-container .country-content .country-spain-container .country-spain .country-overlay::before {
  background-image: linear-gradient(#AA151B, #F1BF00, #F1BF00, #AA151B);
}
#home .country-container .country-content .country-england-container {
  margin-top: 200px;
  display: flex;
  justify-content: flex-end;
}
#home .country-container .country-content .country-england-container .country-england {
  right: 100px;
}
#home .country-container .country-content .country-england-container .country-england .country-overlay::before {
  background-image: linear-gradient(to right, white, #ED2939, white);
}
#home .country-container .country-content .country-england-container .country-england:hover {
  transform: translate(50px, -50px);
}
#home .country-container .country-content .country-england-container .country-england:hover .country-border {
  transform: translate(-80px, 80px);
}
#home .country-container .country-content .country-england-container .country-england .country-border {
  bottom: 50px;
  left: 50px;
}
#home .country-container .country-content .country-england-container .country-bg-text {
  left: auto;
  right: 0;
}
#home .country-container .country-content .country-england-container .country-bg-text h1 {
  float: none;
  left: 60px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1280px) {
  #home .home-container .home-overlay .title h1 {
    font-size: 5.5rem;
  }
  #home .home-container .home-overlay .title a {
    font-size: 1.2rem;
    padding: 10px 30px;
  }
  #home .country-container .country-title h1 {
    font-size: 4.2rem;
  }
  #home .country-container .country-content .country-main-container {
    height: 300px;
  }
  #home .country-container .country-content .country-main-container .country-item {
    max-width: 500px;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title h1,
#home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 h1 {
    font-size: 4rem;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay img {
    height: 30px;
    width: 50px;
  }
  #home .country-container .country-content .country-main-container .country-bg-text h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  #home .country-container .country-content .country-main-container {
    display: flex;
    justify-content: center;
  }
  #home .country-container .country-content .country-main-container .country-bg-text {
    display: none;
  }
  #home .country-container .country-content .country-italy-container .country-italy,
#home .country-container .country-content .country-spain-container .country-spain {
    left: 0;
  }
  #home .country-container .country-content .country-france-container .country-france,
#home .country-container .country-content .country-england-container .country-england {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  #home .home-container .home-overlay .title {
    left: 0;
    text-align: center;
    margin: 0 auto;
  }
  #home .home-container .home-overlay .title h1 {
    font-size: 4rem;
  }
  #home .home-container .home-overlay .title a {
    font-size: 1rem;
    padding: 10px 30px;
  }
  #home .country-container {
    padding: 75px 0;
  }
  #home .country-container::after {
    width: 499.2px;
  }
  #home .country-container .country-title h1 {
    font-size: 2.8rem;
  }
  #home .country-container .country-content .country-main-container {
    height: 200px;
    margin: 150px 0;
  }
  #home .country-container .country-content .country-main-container .country-item {
    max-width: 350px;
  }
  #home .country-container .country-content .country-main-container .country-item .country-border {
    top: -30px;
    left: -30px;
  }
  #home .country-container .country-content .country-main-container .country-item:hover .country-border {
    transform: translate(60px, 60px);
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title {
    top: 20px;
    left: 20px;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title h1 {
    font-size: 3.6rem;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title p {
    font-size: 1.2rem;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 h1 {
    font-size: 3rem;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay .overlay-title-2 p {
    font-size: 1rem;
  }
  #home .country-container .country-content .country-main-container .country-item .country-link .country-overlay img {
    height: 20px;
    width: 35px;
    right: 20px;
    bottom: 20px;
  }
  #home .country-container .country-content .country-main-container .country-bg-text h1 {
    font-size: 2.5rem;
  }
  #home .country-container .country-content .country-italy-container {
    margin-top: 75px;
  }
  #home .country-container .country-content .country-france-container .country-france .country-border {
    bottom: 30px;
    left: 30px;
  }
  #home .country-container .country-content .country-france-container .country-france:hover .country-border {
    transform: translate(-60px, 60px);
  }
  #home .country-container .country-content .country-england-container {
    margin-bottom: 0px;
  }
  #home .country-container .country-content .country-england-container .country-england .country-border {
    bottom: 30px;
    left: 30px;
  }
  #home .country-container .country-content .country-england-container .country-england:hover .country-border {
    transform: translate(-60px, 60px);
  }
}
.country-galleria-container {
  height: auto;
  width: 100%;
  padding: 80px 0;
  background-color: var(--cream);
}
.country-galleria-container .country-galleria {
  height: auto;
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}
.country-galleria-container .country-galleria .galleria-buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.country-galleria-container .country-galleria .galleria-buttons button {
  color: var(--black);
  background-color: var(--cream);
  border: 2px solid var(--black);
  padding: 15px 50px;
  margin-right: 20px;
  outline: none;
  cursor: pointer;
}
.country-galleria-container .country-galleria .galleria-buttons button[data-active] {
  color: var(--cream);
  background-color: var(--black);
}
.country-galleria-container .country-galleria .galleria-buttons button h1 {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.country-galleria-container .country-galleria .galleria-carousel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
  z-index: -1;
}
.country-galleria-container .country-galleria .galleria-carousel.active {
  opacity: 1;
  z-index: 1000;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-slide {
  font-size: 1.8rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-slide span {
  font-family: "Open Sans", sans-serif;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-slide .carousel-length {
  letter-spacing: 3px;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--white);
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .close {
  font-size: 2.8rem;
  transition: 0.4s ease;
  cursor: pointer;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play:hover,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause:hover,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .close:hover {
  transform: scale(0.7);
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play:hover,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause:hover {
  transform: scale(0.8);
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play {
  display: flex;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play.active {
  display: none;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause {
  display: none;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause.active {
  display: flex;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .close {
  margin-left: 15px;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-img-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel[data-active] {
  display: flex;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel .carousel-item {
  position: absolute;
  height: 80%;
  width: 80%;
  max-height: 800px;
  max-width: 1200px;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 0s;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel .carousel-item[data-active] {
  opacity: 1;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel .carousel-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-buttons {
  position: absolute;
  width: 100%;
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-buttons.active {
  display: none;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-buttons span {
  position: absolute;
  font-size: 5rem;
  font-weight: 400;
  transition: 0.4s ease;
  cursor: pointer;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-buttons span:hover {
  transform: scale(0.6);
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-buttons .left {
  left: 10%;
}
.country-galleria-container .country-galleria .galleria-carousel .carousel-buttons .right {
  right: 10%;
}
.country-galleria-container .country-galleria .galleria {
  height: auto;
  width: 100%;
  display: grid;
  display: none;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  margin-top: 50px;
}
.country-galleria-container .country-galleria .galleria[data-active] {
  display: grid;
}
.country-galleria-container .country-galleria .galleria .v-stretch {
  grid-row: span 2;
}
.country-galleria-container .country-galleria .galleria .h-stretch {
  grid-column: span 2;
}
.country-galleria-container .country-galleria .galleria .long-stretch {
  grid-row: span 3;
}
.country-galleria-container .country-galleria .galleria .big-stretch {
  grid-row: span 2;
  grid-column: span 2;
}
.country-galleria-container .country-galleria .galleria .bigger-stretch {
  grid-row: span 2;
  grid-column: span 3;
}
.country-galleria-container .country-galleria .galleria .huge-stretch {
  grid-row: span 3;
  grid-column: span 4;
}
.country-galleria-container .country-galleria .galleria .gallery-item img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
  transition: 0.4s ease;
}
.country-galleria-container .country-galleria .galleria .gallery-item img:hover {
  box-shadow: 0 0 80px black;
}

@media only screen and (max-width: 1280px) {
  .country-galleria-container .country-galleria {
    width: 95%;
  }
  .country-galleria-container .country-galleria .galleria-buttons button {
    padding: 10px 40px;
  }
  .country-galleria-container .country-galleria .galleria-buttons button h1 {
    font-size: 1.8rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-slide {
    font-size: 1.5rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .close {
    font-size: 2.4rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel .carousel-item {
    height: 70%;
    max-width: 700px;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-buttons span {
    font-size: 3.6rem;
  }
  .country-galleria-container .country-galleria .galleria {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media only screen and (max-width: 1024px) {
  .country-galleria-container .country-galleria {
    width: 80%;
  }
  .country-galleria-container .country-galleria .galleria-buttons button {
    padding: 8px 30px;
  }
  .country-galleria-container .country-galleria .galleria-buttons button h1 {
    font-size: 1.5rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel .carousel-item {
    height: 70%;
    width: 60%;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-img-container .carousel .carousel-item img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .country-galleria-container .country-galleria .galleria {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .country-galleria-container .country-galleria .galleria-buttons button {
    margin-right: 8px;
  }
  .country-galleria-container .country-galleria .galleria-buttons button h1 {
    font-size: 1.2rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-slide {
    font-size: 1.2rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .play,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .pause,
.country-galleria-container .country-galleria .galleria-carousel .carousel-top .carousel-right .close {
    font-size: 2rem;
  }
  .country-galleria-container .country-galleria .galleria-carousel .carousel-buttons span {
    font-size: 2.6rem;
  }
  .country-galleria-container .country-galleria .galleria {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 180px;
  }
}
#italy {
  height: auto;
  width: 100%;
}
#italy .italy-top {
  background-image: url("./img/italy/TREVI.jpg");
  background-position: top;
}
#italy .italy-top .italy-top-title h1 {
  line-height: 1;
}
#italy .italy-top .italy-top-title a {
  line-height: 1;
}
#italy .italy-nav {
  line-height: 1;
}
#italy .italy-nav a {
  line-height: 1;
}
#italy .italy-nav h1 {
  margin: 0;
}
#italy .carousel-container {
  height: 100vh;
  max-height: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: #171717;
  display: flex;
  align-items: center;
}
#italy .carousel-container .carousel {
  height: 550px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#italy .carousel-container .carousel .indicators {
  bottom: -30px;
}
#italy .carousel-container .carousel .indicators .indicator-item {
  background-color: var(--white);
}
#italy .carousel-container .carousel .indicators .indicator-item.active {
  background-color: var(--light-beige);
}
#italy .carousel-container .carousel .carousel-item {
  margin: 0 auto;
  height: 450px;
  width: 650px;
  text-decoration: none;
}
#italy .carousel-container .carousel .carousel-item.active .img-container .img-overlay .img-overlay-title {
  -webkit-animation: fadeIn 0.6s ease forwards;
          animation: fadeIn 0.6s ease forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#italy .carousel-container .carousel .carousel-item .img-container {
  height: 100%;
  width: 100%;
  position: relative;
}
#italy .carousel-container .carousel .carousel-item .img-container .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s ease;
  line-height: 1;
  margin: 0;
}
#italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
#italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title h1, #italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title p {
  font-size: 4.5rem;
  font-weight: 100;
  letter-spacing: 6px;
  line-height: 1;
  color: var(--white);
  text-transform: uppercase;
  z-index: 2;
  margin: 0;
}
#italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title p {
  font-size: 1.5rem;
  margin-top: 8px;
}
#italy .carousel-container .carousel .carousel-item .img-container img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 1280px) {
  #italy .carousel-container .carousel .carousel-item {
    height: 300px;
    width: 450px;
  }
  #italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title h1 {
    font-size: 4rem;
  }
  #italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  #italy .carousel-container .carousel .carousel-item {
    height: 250px;
    width: 350px;
  }
  #italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title h1 {
    font-size: 3rem;
  }
  #italy .carousel-container .carousel .carousel-item .img-container .img-overlay .img-overlay-title p {
    font-size: 1rem;
  }
}
#italy-galleria {
  height: auto;
  width: 100%;
  position: relative;
}
#italy-galleria .italy-top {
  background-image: url("./img/italy/TREVI.jpg");
  background-position: top;
}
#italy-galleria .italy-nav h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: var(--light-grey);
  opacity: 0.8;
}
#italy-galleria .italy-nav h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 15px;
}

#france {
  height: auto;
  width: 100%;
}
#france .france-top {
  background-image: url("./img/france/eiffel.jpg");
  background-position: 0 60%;
}
#france .france-gallery-container .france-gallery::before {
  bottom: 0;
}
#france .france-gallery-container .france-gallery::after {
  right: 10%;
}

#france-galleria {
  height: auto;
  width: 100%;
}
#france-galleria .france-top {
  background-image: url("./img/france/eiffel.jpg");
  background-position: 0% 60%;
}
#france-galleria .france-nav h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: var(--light-grey);
  opacity: 0.8;
}
#france-galleria .france-nav h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 15px;
}

#spain {
  height: auto;
  width: 100%;
}
#spain .spain-top {
  background-image: url("./img/lasagrada.jpg");
  background-position: center;
}
#spain .spain-gallery-container .spain-gallery::before {
  bottom: 0;
}
#spain .spain-gallery-container .spain-gallery::after {
  right: 8%;
}
#spain .spain-gallery-container .spain-gallery .gallery-item:hover .overlay {
  height: 100%;
  -webkit-animation: height 0.4s ease forwards;
          animation: height 0.4s ease forwards;
}
#spain .spain-gallery-container .spain-gallery .gallery-item:hover .overlay h1 {
  -webkit-animation: fadeIn 0.6s ease forwards;
          animation: fadeIn 0.6s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#spain .spain-gallery-container .spain-gallery .gallery-item .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation: fadeOut 0.6s ease forwards;
          animation: fadeOut 0.6s ease forwards;
}
#spain .spain-gallery-container .spain-gallery .gallery-item .overlay h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: textFadeOut 0.6s ease forwards;
          animation: textFadeOut 0.6s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes textFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes textFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes height {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
@keyframes height {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
@media only screen and (max-width: 1280px) {
  #spain .spain-gallery-container .spain-gallery .gallery-item .overlay h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  #spain .spain-gallery-container .spain-gallery .gallery-title h1 p {
    font-size: 1rem;
    letter-spacing: 7px;
  }
  #spain .spain-gallery-container .spain-gallery .gallery-item .overlay h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}
#spain-galleria {
  height: auto;
  width: 100%;
}
#spain-galleria .spain-top {
  background-image: url("./img/lasagrada.jpg");
  background-position: center;
}
#spain-galleria .spain-nav h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: var(--light-grey);
  opacity: 0.8;
}
#spain-galleria .spain-nav h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 15px;
}

#england {
  height: auto;
  width: 100%;
}
#england .england-top {
  background-image: url("./img/england/londonbridge.png");
  background-position: center;
}
#england .england-gallery-container .england-gallery {
  align-items: flex-start;
}
#england .england-gallery-container .england-gallery::before {
  left: 0;
}
#england .england-gallery-container .england-gallery::after {
  left: 5%;
}
#england .england-gallery-container .england-gallery .england-gallery-title {
  height: 100%;
  display: flex;
  align-items: center;
}
#england .england-gallery-container .england-gallery .england-gallery-title h1 {
  font-size: 6rem;
  letter-spacing: 15px;
}

@media only screen and (max-width: 768px) {
  #england .england-gallery-container .england-gallery .england-gallery-title h1 {
    font-size: 4rem;
  }
  #england .england-gallery-container .england-gallery .england-gallery-title h1 p {
    font-size: 1rem;
    letter-spacing: 8px;
  }
}
#england-galleria {
  height: auto;
  width: 100%;
}
#england-galleria .england-top {
  background-image: url("./img/england/londonbridge.png");
  background-position: center;
}
#england-galleria .england-nav h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: var(--light-grey);
  opacity: 0.8;
}
#england-galleria .england-nav h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 15px;
}

@media only screen and (max-width: 768px) {
  .england-galleria-container .england-galleria .england-buttons button {
    padding: 8px 25px;
  }
  .england-galleria-container .england-galleria .england-buttons button h1 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}/*# sourceMappingURL=index.css.map */