@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); /* Google Icons */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); /* Font-Family: 'League Spartan' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* Font-Family: 'Noto Sans' */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap'); /* Font-Family: 'Open Sans' */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
}

@import "./preloader";

@import "./homegallery";

@import "./home";
@import "./galleria";

@import "./italy";
@import "./italygalleria";

@import "./france";
@import "./francegalerie";

@import "./spain";
@import "./spaingaleriÃÅa";

@import "./england";
@import "./englandgallery";